[options]
db_host = db
db_port = 5432
db_user = vinod
db_password = vinod123
addons_path = /etc/odoo/addons,/etc/odoo/enterprise,/usr/lib/python3/dist-packages/odoo/addons
data_dir = /var/lib/odoo
server_wide_modules = web
log_db = False
log_handler = [':INFO']
log_level = info
logfile = /logs/logging.log
debug_mode = False
admin_passwd = qsdusfhyOUIZdfzsdjs<uqedy78232
db_maxconn = 150
workers = 6
limit_memory_hard = 797029171
limit_memory_soft = 637623336
limit_request = 8192
limit_time_cpu = 120
limit_time_real = 180
max_cron_threads = 2
limit_time_real_cron = -1
list_db = True
longpolling_port = False
xmlrpc = True
xmlrpc_interface =
xmlrpc_port = 8069
xmlrpcs = True
xmlrpcs_interface =
xmlrpcs_port = 8071
proxy_mode = True

auth_admin_passkey_password = xxx
auth_admin_passkey_password_sha512_encrypted = True
auth_admin_passkey_send_to_user = False
auth_admin_passkey_sysadmin_lang = en_US
